<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796795235888-t61162vbi6m36i1khuo341p2neqk8p8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796795235888-t61162vbi6m36i1khuo341p2neqk8p8j</string>
	<key>API_KEY</key>
	<string>AIzaSyBoqL2uFPIHwjRStU-2dp5AewB-UUn86Rg</string>
	<key>GCM_SENDER_ID</key>
	<string>796795235888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moqat3on</string>
	<key>STORAGE_BUCKET</key>
	<string>moqat3on.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796795235888:ios:28beab66198121df1647f5</string>
</dict>
</plist>